// Thème : MATRIX — green terminal
[data-theme="matrix"] {
  --bg:         #000a00;
  --surface:    #001200;
  --surface2:   #001a00;
  --border:     #003300;
  --border2:    #004400;
  --accent:     #00ff41;
  --accent-rgb: 0, 255, 65;
  --accent2:    #00cc33;
  --accent3:    #39ff14;
  --text:       #ccffcc;
  --text2:      #66cc66;
  --text3:      #225522;
}
